<form (ngSubmit)="submitForm()">
  <label>Title:</label>
  <input type="text" [(ngModel)]="title" name="title">
  <label>Reference:</label>
  <input type="text" [(ngModel)]="reference" name="reference">
  <label>Author:</label>
  <input type="text" [(ngModel)]="author" name="author">
  <label>Price:</label>
  <input type="text" [(ngModel)]="price" name="price">
  <label>Location:</label>
  <input type="text" [(ngModel)]="location" name="location">

  <!-- Repeat the above pattern for other book fields (reference, author, price, location) -->

  <button type="submit">Submit</button>
</form>
